@page
@model Tunnel.Index

@{
    Layout = null;
}

<!DOCTYPE html>

<html lang="en">
<head>
    <title>The Crayon Box 📦</title>
    <link rel="stylesheet" href="css/site.css"/>
</head>
<body class="">
<header>
    <nav>
        <h1 class="text-l block" style="background-color: #FF4367; width: fit-content; margin: 1em auto;">The Crayon Box
            📦</h1>
    </nav>
</header>
<h1 class="text-l">So you came a bit early...</h1>
<p>this page isn't ready yet.</p>

<p class="text-s" style="margin-top: 30em;">In the meantime, why don't you catch up with your friends.</p>

<p class="text-s">- Mark Sadiki Ngishu</p>

</body>
</html>