@page
@model Crayon.Box.Pages.Index

@{
    Layout = "_Layout";
    ViewBag.Title = "";
}

<h1 class="text-l">So you came a bit early...</h1>
<p>this page isn't ready yet.</p>

<p class="text-s" style="margin-top: 30em;">In the meantime, why don't you catch up with your friends.</p>

<p class="text-s">- Mark Sadiki Ngishu</p>