@page "/@{id}"
@model Crayon.Box.Pages.Profile


@{
    Layout = "_Layout";
    ViewBag.Title = $"{Model.Id} - ";
    ViewBag.Organization = Model.Organization;
    ViewBag.Ver = Model.Ver.ToString();
}

@if (Model.ClientConnected())
{
    <p>Miraculously, @@<span class="bold">@Model.Id</span> is online!</p>
}
else
{
    <p>Tragically, @@<span class="bold">@Model.Id</span> is offline!</p>
}

<h1 class="text-l" style="margin-top: 8rem;">Also you're a bit early.</h1>
<p>This page is under construction.</p>
